.jspsych-display-element {
    background-color: black;
    color: white;
}

.header {
    text-align: center; 
    font-size: 25px; 
    margin-top: 100px;
    margin-bottom: 50px; 
    font-weight: bold;
}

.agreenment {
    margin: auto;
    width: 1000px;
}

.agreenment p {
    text-align: left;
    font-size: 20px;
    margin: auto;
}

.title {
    font-weight: bold;
}

.contents {
    text-indent: 1rem;
    padding-bottom: 25px;
}

.contact {
    margin: auto;
    margin-top: 20px;
    width: 750px;
    font-size: 18px;
    border: 4px solid;
    border-color: white;
    border-radius: 8px;
    text-align: left;
    padding: 10px 15px;
}

input[type=checkbox] {
    transform: scale(2);
    margin: 20px;
  }